<footer
  class="footer footer-center p-4 bg-base-300 text-base-content mt-5 inset-x-0 bottom-0"
>
  <aside>
    <p>Copyright © 2023 - Tous droits réservés par M.Cherif</p>
    <nav>
      <div class="grid grid-flow-col gap-2 justify-evenly w-56 min-w-50">
        <a>
          <img class="fill-current" src="/images/instagram.svg" alt="" />
        </a>
        <a>
          <img class="fill-current" src="/images/facebook.svg" alt="" />
        </a>
      </div>
    </nav>
  </aside>
</footer>
