<div
  class="hero min-m-screen"
  style="background-image: url('/images/sliders/photo3.jpg')"
>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center">
    <div class="mb-2"><%- children %></div>
  </div>
</div>
