<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0 class="btn btn-ghost btn-circle">
                <img src="/images/logo.jpg" class="h-9 w-9 rounded-2xl " alt="">
            </div>
        </div>
    </div>
    <div class="navbar-center">
        <a href="" class="btn btn-ghost text-xl">BERIBOUR 228</a>
    </div>
    <div class="navbar-end">
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                </svg>
            </div>
            <ul tabindex="0"
                class="menu menu-lg  dropdown-content mt-3 mr-10  z-[1] p-2 shadow bg-base-100 rounded-box w-72">
                <li><a href="/">Accueil</a></li>
                <li><a href="/beribour">Liste des Beribours</a></li>
                <li><a href="/beribour/create">S'ajouter à la liste</a></li>

                <li><a href="/login">Connexion</a></li>
            </ul>
        </div>

    </div>
</div>
